body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}


/* left side of page */

header {
    background-image: url(ocean.jpeg);
    background-size: cover;
    width: 33vw;
    position: relative;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    opacity: 65%;
    position: absolute;
    width: 100%;
    top: 20vh;
    gap: 15px;
}

h1 {
    font-family: 'BhuTuka Expanded One', cursive;
}

.attributions {
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.attributions a {
    color: white;
}


/* rigth side of page */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    margin: 0;
    width: 67vw;
}

.description-container {
    font-size: large;
    font-weight: bold;
    width: 85%;
}

form {
    margin: 0;
    height: 33vh;
    background-color: white;
    box-shadow: 0 4px 2px -2px lightgray;
    padding-left: 40px;
}

.buttons {
    margin-top: 25px;
    padding-left: 40px;
}

.submit {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
}

.buttons a {
    color: navy;
    text-decoration: none;
}

.description-container {
    padding-left: 40px;
    margin-bottom: 60px;
}