h1 {
    font-family: 'BhuTuka Expanded One', cursive;
}

header {
    background-image: url(ocean.jpeg);
    background-size: cover;
    width: 33vw;
    position: relative;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    opacity: 65%;
    position: absolute;
    width: 100%;
    top: 20vh;
    gap: 15px;
}

.attributions {
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.attributions a {
    color: white;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    margin: 0;
}